@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";



// 4. Include any default map overrides here
$custom-colors: (
				"tekstfarve": #fefbf6,
				"sekundærtekstfarve": #24251A,
				"baggrund": #24251a,
				"primærkort": #4e503e,
				"sekundærkort": #6c6f57,
				"primærknap": #d47d0d,
				"sekundærknap": #24251a,
				"primærikon": #d47d0d,
				"sekundærikon": #fefbf6,
				"navbar": #171710,
				"guldfarve":#ffd700,
				"sølvfarve": #d9d9d9,
				"bronzefarve": #cd7f32,
);

// Denne kode genererer automatisk CSS-variabler baseret på $custom-colors-mappet, så de kan bruges i JavaScript og direkte i CSS som f.eks. var(--primærikon).
:root {
	@each $key, $value in $custom-colors {
		--#{$key}: #{$value};
	}
}
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


h1 {
	color: map-get($custom-colors, "tekstfarve");
	font-family: "Montserrat", sans-serif;
}

h4 {
	color: map-get($custom-colors, "tekstfarve");
	font-family: "Montserrat", sans-serif;
	font-weight: 500; // Medium skriftstørrelse
}

h5 {
	color: map-get($custom-colors, "tekstfarve");
	font-family: "Montserrat", sans-serif;
}

h6 {
	color: map-get($custom-colors, "tekstfarve");
	font-family: "Montserrat", sans-serif;
	font-weight: 500; // Medium skriftstørrelse
}

.brødtekst {
	color: map-get($custom-colors, "tekstfarve");
	font-family: "inter", sans-serif;
}

.brødtekstSekundær {
	color: map-get($custom-colors, "sekundærtekstfarve");
	font-family: "inter", sans-serif;
}

.bartekst {
	font-family: "inter", sans-serif;
	color: map-get($custom-colors, "sekundærtekstfarve");
	font-size: small;
}

.accordion-item {
	border: none; /* Fjern den hvide kant */
}


.bar-1 {
	height: 175px;
	width: 80px;
	font-size: xxx-large;
}
.bar-2 {
	height: 130px;
	width: 70px;
	font-size: xx-large;
}
.bar-3 {
	height: 100px;
	width: 60px;
	font-size: x-large;
}


.image-container {
	display: inline-block;
	overflow: hidden; /* Forhindrer billedet i at "bryde ud" */
}

.hover-image {
	width: 100%; /* Sæt billedets standardbredde */
	transition: transform 0.3s ease; /* Glidende overgang, når billedet bliver større */
}

.hover-image:hover {
	transform: scale(1.2); /* Forstør billedet til 120% */
}

